ul.main_navigation {
    list-style-type: none;
    text-align: right;
    display: block;
    margin: 0px;
}
ul.main_navigation li {
    padding: 10px;
    color: black;
    display: inline-block;
}
ul.main_navigation a {
    color: inherit;
    text-decoration: none;
}
ul.main_navigation #selected {
    background: #4dabf5;
    color: white;
    border-radius: 10% 10% 0% 0%;
}
section.main_navigation {
    padding: 10px;
    width: 100%;
    color: white;
    background: #4dabf5;
    display: inline-block;
    box-sizing: border-box;
}
section.main_navigation h4 {
    display: inline;
}
form.search {
    float: right;
    display: inline;
}
.search input[type="submit"] {
    color: inherit;
    border-radius: 5px;
    background: #1567a8;
    border: none;
}
main {
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
}

section.image_board {
    padding: 0;
    margin: 0;
    font-size: 0;
}

.image_board div {
    width: 65%;
    display: inline-block;
    box-sizing: border-box;
    height: 200px;
    padding: 5px;
    font-size: 16px;
}
.image_board div:nth-child(3n+1) {
    width: 35%;
}
.text_content, .img_content {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: initial;
}
.main_content {
    display: inline-block;
    width: 100%;
    font-size: 0px;
}
aside {
    width: 32%;
    font-size: initial;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}
aside article {
    padding-bottom: 20px;
}
.main_aside {
    border-left: 2px solid black;
    box-sizing: border-box;
}
.main_aside > article {
    font-size: 0;
    box-sizing: border-box;
}
.main_aside .side {
    width: 50%;
    padding: 10px;
    text-align: right;
}
.main_aside .side_img {
    width: 50%;
    padding: 10px;
    height: 150px;
}
.side > h3 {
    display: inline;
}
.description {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}
section.main_strip {
    font-size: initial;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 68%;
    padding: 10px;
}
.image_resizer {
    width: 100%;
    height: 100%;
}
.main_strip {
    display: inline;
}
.main_strip h3 {
    text-align: center;
}
.main_strip section {
    font-size: 0;
    text-align: right;
}
article[type="0"] .main {
    padding: 0px 20px;
    width: 50%;
}
article[type="0"] .main_img {
    padding: 0px 20px;
    width: 50%;
    height: 300px;
}
article[type="1"] .main {
    text-align: left;
    padding: 0px 20px;
    width: 70%;
}
article[type="1"] .main_img {
    padding: 0px 20px;
    width: 30%;
    height: 300px;
}
.text_content input[type="button"] {
    border: 3px solid black;
    border-radius: 5px;
    background: #4dabf5;
    color: white;
}
